 <div class="social-section text-center ">
        <ul>

            <li><i class="fa fa-facebook"> </i></li>
            <li><i class="fa fa-twitter"> </i></li>
            <li><i class="fa fa-google-plus"> </i></li>
            <li><i class="fa fa-linkedin"> </i></li>
            <li><i class="fa fa-dribbble"> </i></li>

        </ul>
</div>
<div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href=""> AngularCloud.com  http://anweshanam.com/index.php/rss/education</a>

        </div>
</div>