<div class="container row about_wrapper">
   <div class="col-xs-12 col-sm-6 col-md-4">      
     <img src="../../assets/ebin.jpg" class="img-circle" alt="ebin" width="304" height="236"> 
     <p>He is an incredibly talented developer but what really makes him stand out is his work ethic and steady approach.</p>     
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">      
     <img src="../../assets/renjini.jpg" class="img-circle" alt="renjini" width="304" height="236"> 
     <p>Every single project is done in a timely fashion and is delivered exactly as is outlined. Beyond that, her development skills and expertise make her an invaluable part of our process.</p>     
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">      
     <img src="../../assets/josmy.jpg" class="img-circle" alt="josmy" width="304" height="236"> 
     <p>I love the way we implemented this blog. </p>     
  </div>
</div>