
<div class="container">
 
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/banking/banking1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
           <p>Banking</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/banking/banking2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Technolgy</p>
          </div>
        
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/banking/banking3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>education</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/banking/banking4.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>entertainment</p>
          </div>

      </div>
    </div>

    <!-- part2 -->
      <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/banking/banking5.jpg" alt="Lights" style="width:100%">
          <div class="caption">
           <p>Banking</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/banking/banking6.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Technolgy</p>
          </div>
        
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/banking/banking7.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>education</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/banking/banking8.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>entertainment</p>
          </div>

      </div>
    </div>
    <!-- part3 -->\
      <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/banking/banking9.jpg" alt="Lights" style="width:100%">
          <div class="caption">
           <p>Banking</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/banking/banking10.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Technolgy</p>
          </div>
        
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/banking/banking11.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>education</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/banking/banking12.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>entertainment</p>
          </div>

      </div>
    </div>
    <!-- part4 -->
      <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/education/education1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
           <p>Banking</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/education/education2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Technolgy</p>
          </div>
        
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
       
          <img src="../../assets/education/education3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>education</p>
          </div>
       
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="thumbnail">
        
          <img src="../../assets/education/education4.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>entertainment</p>
          </div>

      </div>
    </div>
  </div>
</div>